* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}
.hide-on-mobile {
    display: block;
}

.show-on-mobile {
    display: none;
}
.header {
    top: 0;
    z-index: 2;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.content {
    padding: 0 30px;
    min-height: 100vh;
}

.footer {
    background: #000;
    color: #fff;
    padding: 20px 10px;
    &-content {
        background: #000;
        color: #fff;
        &-sublist {
            color: #ccc;
        }
    }
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}
.app {
    &-logo {
        width: 80px;
        &:hover {
            cursor: pointer;
        }
    }

    &-icon {
        font-size: 30px;
    }
}

.logout {
    &:hover {
        cursor: pointer;
    }
    color: rgb(38, 122, 191);
}
.menu {
    position: relative;
    bottom: 10px;
}
.img-slider {
    width: 100%;
    height: 583px;
    background: black;
    &-item {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    &-btn {
        all: unset;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 1rem;
        cursor: pointer;
    }
    &-arrow {
        width: 50px;
        height: 50px;
    }
}

.img-slider-btn > * {
    stroke: white;
    fill: black;
}

.collection {
    &-row {
        margin-top: 50px;
        gap: 10px;
    }
    &-banner {
        background-image: url("//bizweb.dktcdn.net/100/140/774/themes/827866/assets/bg_module_1.jpg?1716828469163");
        height: 458px;
        color: #fff;
        padding-left: 30px;
        h1 {
            position: absolute;
            top: 30px;
        }
        p {
            position: absolute;
            top: 100px;
        }
        &-btn {
            background-color: transparent;
            color: #fff;
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 180px;
            border: 1px solid #fff;
            &:hover {
                cursor: pointer;
                background-color: red;
                color: #fff;
            }
        }
    }

    &-item {
        text-align: center;
        &-up {
            &-img {
                background-color: #fff;
                object-fit: cover;
                width: 270px;
            }
            &-detail {
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                position: relative;
                z-index: 99;
                height: 30px;
                color: #fff;
                &:hover {
                    cursor: pointer;
                    background-color: blue;
                    color: #fff;
                }
            }
        }
        &-down {
            display: flex;
            gap: 10px;
            &-img {
                width: 83px;
            }
        }
        &-name {
            text-transform: uppercase;
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &-price {
            display: flex;
            gap: 30px;
            justify-content: center;
            margin-bottom: 10px;
            &-sale {
                color: red;
            }
            &-original {
                color: #ccc;
                text-decoration: line-through;
            }
        }
    }
}

.email {
    &-input {
        width: 750px;
        height: 50px;
    }
    &-btn {
        width: 100px;
        height: 50px;
        background-color: red;
        color: #fff;
    }
    &-container {
        background-image: url("~/assets/images/bg_footer.jpg");
        text-align: center;
        color: #fff;
        height: 335px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 0;
    }
}

.list {
    display: flex;
    gap: 50px;
}
