@import "./common.scss";
@import "~/assets/css/variable.scss";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// === phone down
@media only screen and (max-width: $sm) {
    .show-on-mobile {
        display: block;
    }
    .hide-on-mobile {
        display: none;
    }
    // .header {
    //     padding: 0 10px;
    // }
}
